<div class="intro-neighborhood">

  <div class="container">

    <div class="row">
      <div class="col-xs-6">
        <a href='/'><img class="img-responsive logo" src="<%= asset_path 'stoop-logo.png' %>" alt="Stoop"></a>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Login', new_user_session_path, class: 'login' %>
      </p>
    </div>

    <div class="row cta">
      <h1>FINANCIAL DISTRICT</h1>
      <h2>Subhead</h2>
      <a href="#" class="cta-btn" style='opacity: 0.0; z-index:-10;'>How It Works</a>
    </div>

    <div class="row cta-form">
      <%= form_tag('/users/sign_up', method: 'get') do %>
      <div class="col-sm-3">
        <%= text_field_tag :first_name, nil, class: 'cst-input', placeholder: 'FIRST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :last_name, nil, class: 'cst-input', placeholder: 'LAST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :email, nil, class: 'cst-input', placeholder: 'EMAIL' %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Sign Up', class: 'cta-submit' %>
      </div>
      <% end %>
    </div>

  </div>
</div>
<div class="how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2>Community Advocate</h2>
        <img class="img-responsive" src="<%= asset_path 'divider.jpg' %>">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      <div class="col-xs-7">
      <img class="img-responsive" src="<%= asset_path 'syd2.jpg' %>" alt="">
        <div class="connect-with">To Connect With Her Sign Up <a href="#">Here</a></div>
      </div>
      <div class="col-xs-5 details">
        <h2>Sydney Schiff</h2>
        <p class="info"><span class="age">23 &nbsp; |</span> &nbsp; RECEPTIONSIST</p>
        <ul class="list">
         <li>- Lived in FIDI for 4 years</li>
         <li>- Happy hour drinks</li>
         <li>- Get lost here</li>
         <li>- Meet people here</li>
         <li>- Find your zen</li>
       </ul>
     </div>
     
   </div>
 </div>
</div>

<div class="container-fluid highlights">
  <h2>FIDI HIGHLIGHTS</h2>
  <h3>Your neighborhood at a glance</h3>
</div>



<div class="interests">

  <div class="container">
    <div class="row">
      <h2>WHAT'S AROUND</h2>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/FrauncesTavern-2.jpg' %>" alt="">
        <h4>Fraunces Tavern Eats</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/StoneStreetTavern-2.jpg' %>" alt="">
        <h4>Stone Street Ale House</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/911Memorial-3.jpg' %>" alt="">
        <h4>9/11 Memorial</h4>
      </div>
    </div>

    <div class="clear"></div>

    <div class="row">
      <h2>HIDDEN GEMS</h2>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/DeadRabbit-3.jpg' %>" alt="">
        <h4>The Dead Rabbit</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/StoneStreet-1.jpg' %>" alt="">
        <h4>Stone Street</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/MuseumOfSkyscrapers-2.jpg' %>" alt="">
        <h4>Museum Of Skyscrapers</h4>
      </div>
    </div>


    <div class="clear"></div>

    <div class="row">

      <h2>ARTS &AMP; CULTURE</h2>

      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/SouthStreetSeaport-1.jpg' %>" alt="">
        <h4>South Street Seaport Museum</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/iPic-2.jpg' %>" alt="">
        <h4>Pier 17 Farmer's Market (Coming Soon)</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/911Memorial-4.jpg' %>" alt="">
        <h4>9/11 Museum</h4>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid did-you-know hide">

  <h2>DID YOU KNOW?</h2>
  <h3>Subhead</h3>
  <div class="video-wrapper">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
      <img class="img-responsive" src="<%= asset_path 'video-placeholder.jpg' %>">
      </div>
    </div>
  </div>

</div>

<footer style="background-color:white;"><!--change footer from normal-->

<img src="<%= asset_path 'footer-logo-white.jpg' %>">

  <br>

  <p>&copy; <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> Pandora Media, Inc. All Rights Reserved</p>
  <p>Pandora and the Music Genome project are registered trademarks of Pandora Media, Inc.</p>

</footer>
