<div class="intro-neighborhood">

  <div class="container">

    <div class="row">
      <div class="col-xs-6">
        <a href='/'><img class="img-responsive logo" src="<%= asset_path 'logos/stoop-logo-beta.png' %>" alt="Stoop"></a>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Login', new_user_session_path, class: 'login' %>
      </p>
    </div>

    <div class="row cta">
      <h1>Do or FiDi</h1>
      <h2>The world’s financial capital has more than money on its mind.</h2>
      <a href="#" class="cta-btn" style='opacity: 0.0; z-index:-10;'>How It Works</a>
    </div>

    <div class="row cta-form">
      <%= form_tag('/users/sign_up', method: 'get') do %>
      <div class="col-sm-3">
        <%= text_field_tag :first_name, nil, class: 'cst-input', placeholder: 'FIRST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :last_name, nil, class: 'cst-input', placeholder: 'LAST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :email, nil, class: 'cst-input', placeholder: 'EMAIL' %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Sign Up', class: 'cta-submit' %>
      </div>
      <% end %>
    </div>

  </div>
</div>
<div class="how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2>Community Advocate</h2>
        <img class="img-responsive" src="<%= asset_path 'divider.jpg' %>">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      <div class="col-xs-7">
      <img class="img-responsive" src="<%= asset_path 'headshots/felicia2.jpg' %>" alt="">
        <div class="connect-with">Become part of the neighborhood <a href="#">here</a></div>
      </div>
      <div class="col-xs-5 details">
        <h2>Sydney Schiff</h2>
        <p class="info"><span class="age">23 &nbsp; |</span> &nbsp; RECEPTIONSIST</p>
        <p>Welcome to the neighborhood! I’m from Seattle but FiDi is my home and I love it! As a Stoop Community Advocate, I’m always trying to help people take advantage of all this area has to offer.</p>
 
        <p>Being a local means we all help each other stay in the loop – knowing what new restaurants have opened, where the hidden gems are, and when there’s an event that can’t be missed.</p>
 
        <p>Hope I see you around!</p>
     </div>
     
   </div>
 </div>
</div>

<div class="container-fluid highlights">
  <h2>FIDI HIGHLIGHTS</h2>
  <h3>Here’s just a sample of the places that give the neighborhood its character.</h3>
</div>



<div class="interests">

  <div class="container">
    <div class="row">
      <h2>WHAT'S AROUND</h2>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/FrauncesTavern-2.jpg' %>" alt="">
        <h4>Fraunces Tavern Eats</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/StoneStreetTavern-2.jpg' %>" alt="">
        <h4>Stone Street Ale House</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/911Memorial-3.jpg' %>" alt="">
        <h4>9/11 Memorial</h4>
      </div>
    </div>

    <div class="clear"></div>

    <div class="row">
      <h2>HIDDEN GEMS</h2>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/DeadRabbit-3.jpg' %>" alt="">
        <h4>The Dead Rabbit</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/StoneStreet-1.jpg' %>" alt="">
        <h4>Stone Street</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/MuseumOfSkyscrapers-2.jpg' %>" alt="">
        <h4>Museum Of Skyscrapers</h4>
      </div>
    </div>


    <div class="clear"></div>

    <div class="row">

      <h2>ARTS &AMP; CULTURE</h2>

      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/SouthStreetSeaport-1.jpg' %>" alt="">
        <h4>South Street Seaport Museum</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/iPic-2.jpg' %>" alt="">
        <h4>Pier 17 Farmer's Market (Coming Soon)</h4>
      </div>
      <div class="col-xs-4">
      <img class="img-responsive" src="<%= asset_path 'public/911Memorial-4.jpg' %>" alt="">
        <h4>9/11 Museum</h4>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid did-you-know hide">

  <h2>DID YOU KNOW?</h2>
  <h3>Subhead</h3>
  <div class="video-wrapper">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
      <img class="img-responsive" src="<%= asset_path 'video-placeholder.jpg' %>">
      </div>
    </div>
  </div>

</div>

<footer>

      <img src="<%= asset_path 'logos/footer-logo.jpg' %>">

        <br>

      <p>&copy; <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> Mdrn Group, Inc. All Rights Reserved</p>

</footer>
