<div class="intro">

  <div class="container">
    <video class='hidden-xs' autoplay loop poster="">
      <source src="<%= asset_path 'public/hero.mp4' %>" type="video/mp4">
    </video>
    <div class="row">
      <div class="col-xs-6">
        <a href='/'><img class="img-responsive logo" src="<%= asset_path 'stoop-logo.png' %>" alt="Stoop"></a>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Login', new_user_session_path, class: 'login' %>
      </p>
    </div>

    <div class="row cta">
      <h1>Become A Part of Your<br> Neighborhood</h1>
      <a href="#" class="how-it-works-btn cta-btn">How It Works</a>
    </div>

    <div class="row cta-form">
      <%= form_tag('/users/sign_up', method: 'get') do %>
      <div class="col-sm-3">
        <%= text_field_tag :first_name, nil, class: 'cst-input', placeholder: 'FIRST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :last_name, nil, class: 'cst-input', placeholder: 'LAST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :email, nil, class: 'cst-input', placeholder: 'EMAIL' %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Sign Up', class: 'cta-submit' %>
      </div>
      <% end %>
    </div>

  </div>
</div>
<div class="how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2>How It Works</h2>
        <img class="img-responsive" src="<%= asset_path 'divider.jpg' %>">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-4">
      <div class="box">
        <img class='img-responsive' src="<%= asset_path 'public/how-it-works.jpg' %>">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <img class='img-responsive' src="<%= asset_path 'public/how-it-works-02.jpg' %>">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <img class='img-responsive' src="<%= asset_path 'public/how-it-works-03.jpg' %>">
      </div>
    </div>
  </div>
</div>

<div class="neighborhood-bar">
  <div class="container-fluid">
    <div class="row neighborhood-list">
      <a href='/financial-district'><img class="img-responsive" src="<%= asset_path 'public/fidi.jpg' %>"></a><a href='#'><img class="img-responsive" src="<%= asset_path 'public/wvill.jpg' %>"></a><a href='#'><img class="img-responsive" src="<%= asset_path 'public/soho.jpg' %>"></a>
    </div>
  </div>
</div>  

<div class="fidi-neighborhood">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 image">
        <img class="img-responsive" src="<%= asset_path 'syd.jpg' %>">
        <h3>Sydney Schiff</h3>
        <p class="title">Community Advocate</p>
      </div>
      <div class="col-sm-8 info">
        <h2>Fidi Neighborhood</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="row friends">
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>">
        <h3>Sadie Klughers</h3>
        <p>Avid Coffee Drinker</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>">
        <h3>Drew McCormick</h3>
        <p>Stay At Home Dad</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>">
        <h3>Lior Gensler</h3>
        <p>Pastry Addict</p>
      </div>
    </div>

    <div class="row businesses">
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'public/Delmonico.jpg' %>">
        <h3>Delmonico</h3>
        <p>Bar &amp; Restaurant</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'public/PierA.jpg' %>">
        <h3>PierA</h3>
        <p>Point of Interest</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'public/MuseumOfSkyscrapers.jpg' %>">
        <h3>Museum of Skyscrapers</h3>
        <p>Museum</p>
      </div>
    </div>

  </div>

</div>



<div class="want-more">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'person.jpg' %>">
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            <h3>Want More?</h3>
            <h4>Become A Member Now!</h4>
          </div>
        </div>
        <%= form_tag('/users/sign_up', method: 'get') do %>
        <div class="row cta-form2">
          <div class="col-xs-6">
            <%= text_field_tag :first_name, nil, class: 'custom-input', placeholder: 'First Name' %>
          </div>
          <div class="col-xs-6">
            <%= text_field_tag :last_name, nil, class: 'custom-input', placeholder: 'Last Name' %>
          </div>
        </div>
        <div class="row cta-form2">
          <div class="col-xs-6">
            <%= text_field_tag :email, nil, class: 'custom-input', placeholder: 'Email' %>
          </div>
          <div class="col-xs-6">
            <%= submit_tag 'Sign Up', class: 'custom-cta-button' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<footer>

      <img src="<%= asset_path 'footer-logo.jpg' %>">

        <br>

      <p>&copy; <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> Mdrn Group, Inc. All Rights Reserved</p>

</footer>

<script>
$(document).ready(function(){
  $('a.how-it-works-btn').click(function(e){
    e.preventDefault();
    $('html, body').animate({scrollTop: $('.how-it-works').offset().top},250)
  })
})
</script>
