<div class="intro">

  <div class="container">
    <video class='hidden-xs' autoplay loop poster="">
      <source src="<%= asset_path 'public/stoop.mp4' %>" type="video/mp4">
    </video>
    <div class="row">
      <div class="col-xs-6">
        <a href='/'><img class="img-responsive logo" src="<%= asset_path 'logos/stoop-logo-beta-home.png' %>" alt="Stoop"></a>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Login', new_user_session_path, class: 'login' %>
      </p>
    </div>

    <div class="row cta">
      <h1>Get the most out<br>of being local.</h1>
      <a href="#" class="how-it-works-btn cta-btn">How It Works</a>
    </div>

    <div class="row cta-form">
      <%= form_tag('/users/sign_up', method: 'get') do %>
      <div class="col-sm-3">
        <%= text_field_tag :first_name, nil, class: 'cst-input', placeholder: 'FIRST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :last_name, nil, class: 'cst-input', placeholder: 'LAST NAME' %>
      </div>
      <div class="col-sm-3">
        <%= text_field_tag :email, nil, class: 'cst-input', placeholder: 'EMAIL' %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Sign Up', class: 'cta-submit' %>
      </div>
      <% end %>
    </div>

  </div>
</div>
<div class="how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2>How It Works</h2>
        <img class="img-responsive" src="<%= asset_path 'divider.jpg' %>">
        <h4>Stoop is the best way to connect with people, businesses and events where you live.</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-4">
      <div class="box">
        <img class='img-responsive' src="<%= asset_path 'public/how-it-works.jpg' %>">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <img class='img-responsive' src="<%= asset_path 'public/how-it-works-02.jpg' %>">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <img class='img-responsive' src="<%= asset_path 'public/how-it-works-03.jpg' %>">
      </div>
    </div>
  </div>
</div>

<div class="neighborhood-bar">
  <div class="container-fluid">
    <div class="row neighborhood-list">
      <a href='/financial-district'><img class="img-responsive" src="<%= asset_path 'public/fidi.jpg' %>"></a><a href='#'><img class="img-responsive" src="<%= asset_path 'public/wvill.jpg' %>"></a><a href='#'><img class="img-responsive" src="<%= asset_path 'public/soho.jpg' %>"></a>
    </div>
  </div>
</div>  

<div class="fidi-neighborhood">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 image">
        <img class="img-responsive" src="<%= asset_path 'syd.jpg' %>">
        <h3>Sydney Schiff</h3>
        <p class="title">Community Advocate</p>
        <p class='desc'>As a west coast transplant, this neighborhood has welcomed me with open arms. I try to help others who move here get the same feeling.</p>
      </div>
      <div class="col-sm-8 info">
        <h2>Fidi</h2>
        <p>The southern-most part of the island is heating up. Not only can you expand your cultural horizons, the neighborhood has become a place to wet your culinary whistle.</p>
      </div>
    </div>

    <div class="row friends">
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>">
        <h3>Sadie Klughers</h3>
        <p>I’m a self-confessed caffeine addict. If there are beans being roasted in FiDi, I can tell you if they’re worth grinding.</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>">
        <h3>Drew McCormick</h3>
        <p>As a financial advisor, FiDi is more than my home, it’s where I make my living. I wouldn’t live anywhere else.</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>">
        <h3>Lior Gensler</h3>
        <p>I’ve lived in the neighborhood for 3 years with my dog, Angus. We know all the pet-friendly spots and the best walkers around.</p>
      </div>
    </div>

    <div class="row businesses">
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'public/Delmonico.jpg' %>">
        <h3>Delmonico</h3>
        <p>You like steaks? Of course you do. And you’ll really like the benefits of being a local when you visit this historic restaurant.</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'public/PierA.jpg' %>">
        <h3>PierA</h3>
        <p>Never be in the dark about what’s happening in the ‘hood. As a Stoop member, this hub for area tastemakers is even more accessible.</p>
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'public/MuseumOfSkyscrapers.jpg' %>">
        <h3>Museum of Skyscrapers</h3>
        <p>Nothing separates New York like our skyline. And nothing celebrates that skyline and its history like this cultural spot.</p>
      </div>
    </div>

  </div>

</div>



<div class="want-more">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive" src="<%= asset_path 'person.jpg' %>">
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            <h3>Go all-access.</h3>
            <h4>Join Stoop and start taking advantage of all that your neighborhood has to offer.</h4>
          </div>
        </div>
        <%= form_tag('/users/sign_up', method: 'get') do %>
        <div class="row cta-form2">
          <div class="col-xs-6">
            <%= text_field_tag :first_name, nil, class: 'custom-input', placeholder: 'First Name' %>
          </div>
          <div class="col-xs-6">
            <%= text_field_tag :last_name, nil, class: 'custom-input', placeholder: 'Last Name' %>
          </div>
        </div>
        <div class="row cta-form2">
          <div class="col-xs-6">
            <%= text_field_tag :email, nil, class: 'custom-input', placeholder: 'Email' %>
          </div>
          <div class="col-xs-6">
            <%= submit_tag 'Sign Up', class: 'custom-cta-button' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<footer>

      <img src="<%= asset_path 'logos/footer-logo.jpg' %>">

        <br>

      <p>&copy; <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> Mdrn Group, Inc. All Rights Reserved</p>

</footer>

<script>
$(document).ready(function(){
  $('a.how-it-works-btn').click(function(e){
    e.preventDefault();
    $('html, body').animate({scrollTop: $('.how-it-works').offset().top},250)
  })
})
</script>
