<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <ul class="side-nav">
        <li><a href="#">Feed</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Small Business Listings</a></li>
        <li><a href="#">My Incentives</a></li>
      </ul>
      <div class="col-sm-12 side-bar-margin">

        <div class="row side-bar-chat">

          <div class="col-xs-12">
            <input type="text" class="search-field empty" id="iconified" placeholder="&#xF002; " style="font-family:Arial, FontAwesome; font-size:20px;">
          </div>
          <!--NOTE: I've given two examples here. You'll just repeat this "col-xs-12" code for each online person-->
          <div class="col-xs-12  recent-chat-active ">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="Drew">
              </div>
              <div class="col-xs-8">
                <h4 class="chat-name">Drew Micheal</h4>
                <span class="chat">Hey lets hang soon</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 recent-chat">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>" alt="Lior">
              </div>
              <div class="col-xs-8">
                <h4 class="chat-name">Lior Gresnor</h4>
                <span class="chat">Hey you left your walet in the living rom</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12  recent-chat ">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="Drew">
              </div>
              <div class="col-xs-8">
                <h4 class="chat-name">Drew Micheal</h4>
                <span class="chat">Hey lets hang soon</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 recent-chat">
            <div class="row">
              <div class="col-xs-4">
                <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>" alt="Lior">
              </div>
              <div class="col-xs-8">
                <h4 class="chat-name">Lior Gresnor</h4>
                <span class="chat">Hey you left your walet in the living rom</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="col-xs-12 msg-top">
        <div class="col-sm-3 new-msg">+ New Message</div>
        <div class="col-sm-8 msg-bg"><input type="text" class="msg-search-field empty" id="iconified" placeholder="&#xF002; " style="font-family:Arial, FontAwesome; font-size:20px;"></div>
        <div class="col-sm-1 setting"><img class="settings" src="<%= asset_path 'settings.png' %>" alt="Settings"></div>
      </div>
      <div style="text-align:left; color:#fff;" class="col-xs-12 building-neighborhood-bar">
        
        Message with sadie klughers
        <!--NOTE: I recommend toggling the class "active" on/off with jquery-->
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="inbox-area">
        
        <div class="col-sm-2 col-xs-3">
          <img class="img-responsive" src="<%= asset_path 'msg-person.jpg' %>" alt="">
        </div>
        
        <div class="col-sm-10 col-xs-9">
          <h3 class="name">Sushi Mama</h3>
          <p class="time">4 min ago</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p> 
        </div>
        
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="inbox-person">
        <div class="col-sm-2 col-xs-3">
          <img class="img-responsive" src="<%= asset_path 'incentive-neighborhood-profile-pic.jpg' %>" alt="">
        </div>
        <div class="col-sm-10 col-xs-9">
          <h3 class="name">Sushi Mama</h3>
          <p class="time">4 min ago</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>    
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="inbox-area">
        
        <div class="col-sm-2 col-xs-3">
          <img class="img-responsive" src="<%= asset_path 'msg-person.jpg' %>" alt="">
        </div>
        
        <div class="col-sm-10 col-xs-9">
          <h3 class="name">Sushi Mama</h3>
          <p class="time">4 min ago</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4 ">
      <div class="inbox-person">
        
        <div class="col-sm-2 col-xs-3">
          <img class="img-responsive" src="<%= asset_path 'incentive-neighborhood-profile-pic.jpg' %>" alt="">
        </div>
        
        <div class="col-sm-10 col-xs-9">
          <h3 class="name">Sushi Mama</h3>
          <p class="time">4 min ago</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <textarea class="msg-text-area" name="" placeholder="Write a reply"></textarea>
      <div class="msg-control-bar">
        <i class="fa fa-camera"></i>
        <i class="fa fa-map-marker"></i>
        <i class="fa fa-paperclip"></i>
        <input type="submit" class="post" value="Send">
      </div>
    </div>
  </div>
</div>

<div class="container after-profile">
  <div class="row">
    
    
  </div>
</div>