<body class="signup-page">
  <div class="container container-small">
    <img class="img-responsive" src="<%= asset_path 'logos/signup-logo-beta.jpg' %>" alt="Stoop">
  </div>

  <div class="container">


    <div class="type-of-business">
      <span style="font-weight:bold;">Account Type:</span>
      <label>
        <input type="radio" value="Neighbor" name="type-of-account" checked>
        <span style="font-weight:normal;">Neighbor</span>
      </label>
      <label>
        <input type="radio" value="Business" name="type-of-account">
        <span style="font-weight:normal;">Business</span>
      </label>
    </div>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'newUser' }) do |f| %>

      <div class="column-left">

        <%= f.text_field :first_name, placeholder: 'First Name', value: params['first_name'], autofocus: true, class: "chosen-container" %>
        <%= f.text_field :last_name, placeholder: 'Last Name', value: params['last_name'], class: "chosen-container" %>
        <%= f.email_field :email, placeholder: 'Email', value: params['email'], class: "chosen-container" %>
        <%= f.password_field :password, placeholder: 'Password', class: "chosen-container" %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: "chosen-container" %>
      </div>

      <div class="column-right">
        <div class='form-group'>
          <%= select_tag :neighborhood, neighborhood_options, style: 'margin-top: 50px;', class: 'form-control chosen-it' %>
        </div>
        <div class='form-group'>
          <%= f.select :building_id, building_options, {}, { class: 'form-control chosen-it'} %>
        </div>
        <%= text_field_tag 'contact[phone]', nil, placeholder: 'Phone Number', class: "chosen-container" %>

        <!--NOTE: only call this on an error-->
        <div id="warning hide">
          <p>Please Enter The Required Fields</p>
        </div>

        <div class="row">
          <div class="col-sm-6 social-login"> <a href="<%= user_omniauth_authorize_path(:facebook) %>"><img class="img-responsive" src="<%= asset_path 'login-fb.jpg' %>" alt="Log In With FaceBook"></a>
          </div>
          <div class="col-sm-6 social-login"> <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>"><img class="img-responsive" src="<%= asset_path 'login-google.jpg' %>" alt="Log In With Google"></a>
          </div>
        </div>

      </div>


      <div class="clear-floats"></div>

      <div class="container container-submit">
        <button class="submit-button">SIGN UP</button>
      </div>

    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'hide newBusiness' }) do |f| %>
      <%= f.fields_for :businesses do |business_form| %>

      <div class="column-left">
        <%= business_form.text_field :name, placeholder: 'Business Name', class: "chosen-container" %>
        <%= business_form.select 'industry', industry_options, {}, {style: 'margin-top: 50px;', class: 'form-control chosen-it'} %>
        <%= f.email_field :email, placeholder: 'Email', class: "chosen-container" %>
        <%= f.password_field :password, placeholder: 'Password', class: "chosen-container" %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: "chosen-container" %>
        <%= business_form.select :neighborhood_id, neighborhood_options, {}, {style: 'margin-top: 50px;', class: 'form-control chosen-it'} %>
      </div>

      <div class="column-right">
        <div class='form-group'>
          <%= text_field_tag 'contact[street]', nil, placeholder: 'Main Address', class: "chosen-container" %>
          <%= text_field_tag 'contact[street2]', nil, placeholder: 'Secondary Address', class: "chosen-container" %>
          <%= text_field_tag 'contact[city]', nil, placeholder: 'City', class: "chosen-container" %>
          <%= select_tag 'contact[state]', state_options,  {style: 'margin-top: 50px;', class: 'form-control chosen-it'} %>
          <%= text_field_tag 'contact[phone]', nil, placeholder: 'Phone Number', class: "chosen-container" %>
        </div>

        <!--NOTE: only call this on an error-->


      </div>


      <div class="clear-floats"></div>

      <div class="container container-submit">
        <button class="submit-button">SIGN UP</button>
      </div>

      <% end %>
    <% end %>

  </div>

</body>
