<div class="container body-container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <%= render partial: 'layouts/nav' %>
      <div class="col-sm-12 side-bar-margin">

        <%= render partial: 'conversations/conversations_list' %>

      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="col-xs-12 msg-top">
        <div class="col-sm-3 new-msg"><a href='#' class='new-msg' data-toggle='modal' data-target='#newMessage'>+ New Message</a></div>
        <div class="col-sm-8 msg-bg"><input type="text" class="msg-search-field empty" id="iconified" placeholder="&#xF002; " style="hide font-family:Arial, FontAwesome; font-size:20px;"></div>
        <div class="col-sm-1 setting"><img class="settings" src="<%= asset_path 'settings.png' %>" alt="Settings"></div>
      </div>
      
      <div id='conversation' data-convo-id='<%=@conversation.id%>'>
        
        <%= render partial: 'conversations/show' %>
        
      </div>
        
      
    </div>
  </div>
</div>

<div class="container after-profile">
  <div class="row">
    
    
  </div>
</div>

<%= render partial: 'messages/new' %>