<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/">Overview</a></li>
        <li class='active'><a href="/users">All Users <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">All Users</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Sign Up Date</th>
              <th>Last Login</th>
              <th>Sign In Count</th>
              <th>Verified</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.gender.to_s.upcase[0] %></td>
              <td><%= user.created_at.nil? ? 'N/A' : user.created_at.strftime('%b %e, %y %l:%M%P %Z') %></td>
              <td><%= user.last_sign_in_at.nil? ? 'N/A' : user.last_sign_in_at.strftime('%b %e, %y %l:%M%P %Z') %></td>
              <td><%= user.sign_in_count %></td>
              <td><%= user.verified ? 'Y' : 'N' %></td>
            </tr>
          <% end %>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>