<div class="container body-container">
  <div class="row">
    
    <div class='building-prompt'>
      <img class="img-responsive logo" src="<%= asset_path 'logos/alt-logo-beta.jpg' %>" alt="">
      
      <% if current_user.business? %>
      <div class='main-content' style='width: 555px;'>
        <h1>Hello <%= current_user.first_name %>,</h1>
        <h2>Please Claim Your Business:</h2>
        
        <%= form_for current_user.business do |f| %>
          <% @yelp_matches.each do |match| %>
          
            <div class='radio'>
            <%= f.radio_button :yelp_id, match.id %>
            <%= f.label :yelp_id, match.name , value: match.id%>
            </div>
            
            
          <% end %>
          
          <%= f.submit 'Claim', class: 'btn btn-primary form-control' %>
        <% end %>
        
      </div>
      
      
      <% else %>
      <div class='main-content'>
        <h1>Hello <%= current_user.first_name %>,</h1>
        <h2>Please Select Your Building:</h2>
        <%= form_for current_user do |f| %>
        <%= f.select :building_id, unhidden_building_options, {}, { class: 'form-control chosen-it'} %>
        <%= f.submit "Submit", class: 'btn btn-primary login' %>
        <% end %>
      </div>
      <% end %>
      
      
    </div>
  </div>
</div>