<div class="container body-container">
  <div class="row">
    
    <div class='building-prompt'>
      <img class="img-responsive logo" src="<%= asset_path 'logos/alt-logo-beta.jpg' %>" alt="">
      <div class='main-content'>
        <h1>Hello <%= current_user.first_name %>,</h1>
        <h2>Please Select Your Building:</h2>
        <%= form_for current_user do |f| %>
        <%= f.select :building_id, unhidden_building_options, {}, { class: 'form-control chosen-it'} %>
        <%= f.submit "Submit", class: 'btn btn-primary login' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

