  <div class="container after-profile">
    <div class="row">
      <div class="posts col-sm-8">
        <div class='row'>
          <% @posts.each do |post| %>
        
          <div class='post'>
            <div class="post-area">
              <div class="row">
                <div class="col-sm-2 col-xs-3">
                  <img class="img-responsive" src="<%= post.user.avatar %>" alt="">
                </div>
                <div class="col-sm-10 col-xs-9">
                  <h3 class="name"><%= link_to post.user.name, user_path(post.user) %></h3>
                  <p class="time"><%= post.created_at.strftime('%m/%d/%y %I:%M%P') %></p>
                  <p><%= post.body %></p>
                  
                  <% if post.image.present? %>
                    <img class="img-responsive" src="<%= post.image %>" alt="">
                  <% end %>
                </div>
              </div>
            </div>
            <div class="after-post-area">
              <div class="row">
                <div class="col-xs-12 comment-bar">
                  <p class="like-count">15 Likes</p>
                  <p class="comment-count">2 Comments</p>
                  <i class="fa fa-comment-o"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 comments">
                  <div class="row comment">
                    <div class="col-xs-2">
                      <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
                    </div>
                    <div class="col-xs-10">
                      <p>This is a comment and <a href="#">this is a link</a></p>
                      <p class="time">2 min ago <span class="heart"><i class="fa fa-heart-o"></i></p>
                      <!--NOTE: for the above span of "heart" just ommit the "-0" if wanting a filled in heart-->
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 comments">
                  <div class="row comment">
                    <div class="col-xs-2">
                      <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
                    </div>
                    <div class="col-xs-10">
                      <p>This is a comment and <a href="#">this is a link</a></p>
                      <p class="time">2 min ago <span class="heart"><i class="fa fa-heart-o"></i></p>
                      <!--NOTE: for the above span of "heart" just ommit the "-0" if wanting a filled in heart-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <% end %>
        </div>
        
        <div class='post'>
          <div class="post-area">
            <div class="row">
              <div class="col-sm-2 col-xs-3">
                <img class="img-responsive" src="<%= asset_path 'sushi.jpg' %>" alt="">
              </div>
              <div class="col-sm-10 col-xs-9">
                <h3 class="name">Sushi Mama</h3>
                <p class="time">4 min ago</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <img class="img-responsive" src="<%= asset_path 'sushi-roll.jpg' %>" alt="">
              </div>
            </div>
          </div>
          <div class="after-post-area">
            <div class="row">
              <div class="col-xs-12 comment-bar">
                <p class="like-count">15 Likes</p>
                <p class="comment-count">2 Comments</p>
                <i class="fa fa-comment-o"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 comments">
                <div class="row comment">
                  <div class="col-xs-2">
                    <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
                  </div>
                  <div class="col-xs-10">
                    <p>This is a comment and <a href="#">this is a link</a></p>
                    <p class="time">2 min ago <span class="heart"><i class="fa fa-heart-o"></i></p>
                    <!--NOTE: for the above span of "heart" just ommit the "-0" if wanting a filled in heart-->
                  </div>
                </div>
              </div>
              <div class="col-xs-12 comments">
                <div class="row comment">
                  <div class="col-xs-2">
                    <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
                  </div>
                  <div class="col-xs-10">
                    <p>This is a comment and <a href="#">this is a link</a></p>
                    <p class="time">2 min ago <span class="heart"><i class="fa fa-heart-o"></i></p>
                    <!--NOTE: for the above span of "heart" just ommit the "-0" if wanting a filled in heart-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='post'>
          <div class="post-area">
            <div class="row">
              <div class="col-sm-2 col-xs-3">
                <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>" alt="">
              </div>
              <div class="col-sm-10 col-xs-9">
                <h3 class="name">Lior </h3>
                <p class="time">4 min ago</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <div class="after-post-area">
            <div class="row">
              <div class="col-xs-12 comment-bar">
                <p class="like-count">15 Likes</p>
                <p class="comment-count">2 Comments</p>
                <i class="fa fa-comment-o"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 comments">
                <div class="row comment">
                  <div class="col-xs-2">
                    <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
                  </div>
                  <div class="col-xs-10">
                    <p>This is a comment and <a href="#">this is a link</a></p>
                    <p class="time">2 min ago <span class="heart"><i class="fa fa-heart-o"></i></p>
                    <!--NOTE: for the above span of "heart" just ommit the "-0" if wanting a filled in heart-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-sm-4 side-bar-margin">

        

      </div>
    </div>
  </div>
