<div class="container after-profile">
  <div class="row">
    <div class="posts col-sm-8">
      <div class='row'>
        <% @posts.each do |post| %>
      
        <div class='post'>
          <div class="post-area">
            <div class="row">
              <div class="col-sm-2 col-xs-3">
                <img class="img-responsive" src="<%= post.user.avatar %>" alt="">
              </div>
              <div class="col-sm-10 col-xs-9">
                <h3 class="name"><%= link_to post.user.name, user_path(post.user) %></h3>
                <p class="time"><%= post.created_at.strftime('%m/%d/%y %I:%M%P') %></p>
                <p><%= post.body %></p>
                
                <% if post.image.present? %>
                  <img class="img-responsive" src="<%= post.image %>" alt="">
                <% end %>
              </div>
            </div>
          </div>
          <div class="after-post-area">
            <div class="row">
              <div class="col-xs-12 comment-bar">
                <p class="like-count"><%= post.likers(User).size %> Likes</p>
                <p class="comment-count"><%= post.comments.size %> Comments</p>
                <i class="fa fa-comment-o"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="row">
              <% post.comments.each do |comment| %>
              <div class="col-xs-12 comments">
                <div class="row comment">
                  <div class="col-xs-2">
                    <img class="img-responsive" src="<%= comment.user.avatar %>" alt="">
                  </div>
                  <div class="col-xs-10">
                    <p><%= comment.comment %></p>
                    <p class="time"><%= comment.created_at.strftime('%m/%d/%y %I:%M%P') %> <span class="heart"><i class="fa fa-heart-o"></i></p>
                    <!--NOTE: for the above span of "heart" just ommit the "-0" if wanting a filled in heart-->
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      
        <% end %>
      </div>
      
    </div>
    <div class="col-sm-4 side-bar-margin">

      

    </div>
  </div>
</div>
