<div class="container">
  <div class="row">
    
    <div class="col-sm-4 col-sm-push-8">
      <%= render partial: 'layouts/nav' %>
    </div>
    
    <div class="col-sm-8 col-sm-pull-4">
      <div class="row">
        <div class="col-xs-12 building-neighborhood-bar neighborhood">
          <a href="feed/building" class='loadScript' style="border-right:2px solid white; padding-right:20px;">My Building</a>
          <a href="/feed/neighborhood" class="loadScript" style="padding-left:20px;">My Neighborhood</a>
          <!--NOTE: I recommend toggling the class "active" on/off with jquery-->
        </div>
        
        <%= render partial: 'posts/new', locals: {account_type: current_user.business? ? 'Business' : 'User'} %>
      </div>
    </div>
  </div>
</div>

<div class="container after-profile">
  <div class="row">
    <div class="col-sm-8">
      <div class='posts row'>
        <% @posts.each do |post| %>
      
        <%= render partial: 'posts/post', locals: {post: post} %>
      
        <% end %>
        
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @posts %>
      </div>
    </div>
    
    <div class="col-sm-4 side-bar-margin">

    </div>
  </div>
</div>



<!-- HIDDEN SKELETON ELEMENTS: POST, COMMENT, NEW COMMENT FORM -->
<%= render partial: 'posts/post', locals: {post: Post.new} %>

<%= render partial: 'comment', locals: {comment: Comment.new} %>

<%= render partial: 'comment_field', locals: {comment: Comment.new} %>
