<div class="container profile">
  <div class="row">
    <div class='cover-img-wrapper'><img class="img-responsive" src="<%= @user.cover %>" alt=""></div>
    <div class="col-xs-3">
      <img class="img-responsive profile-pic" src="<%= @user.avatar %>" alt="">
    </div>
    <div class="col-xs-9">
      <p><%= @user.about %></p>
    </div>
  </div>
</div>

<div class="container after-profile">
  <div class="row">
    <div class="col-sm-8">
      <div class='posts'>
        <% @user.posts.each do |post| %>
        
        <%= render partial: 'post', locals: {post: post} %>
        
        <% end %>
      </div>
    </div>
    <div class="col-sm-4 side-bar-margin">

      <img class="img-responsive map" src="<%= asset_path 'map.jpg' %>" alt="Map">

      <div class="info-box">
        <h3>Following</h3>
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'syd.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
          </div>
        </div>
      </div>

      <div class="info-box">
        <h3>People In My Building</h3>
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'syd.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
          </div>
        </div>
      </div>

      <div class="info-box">
        <h3>Interests</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>

        <h3>Professions</h3>
        <p><b>Counselor</b> at URJ Camp Coleman</p>
        <p><b>Receptionist</b> at Surfcorp</p>

        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>

        
      </div>

    </div>
  </div>
</div>


<!-- HIDDEN SKELETON ELEMENTS: POST, COMMENT, NEW COMMENT FORM -->
<%= render partial: 'post', locals: {post: Post.new} %>

<%= render partial: 'comment', locals: {comment: Comment.new} %>

<%= render partial: 'comment_field', locals: {comment: Comment.new} %>
