<div class="container profile">
  <div class="row">
    <div class='cover-img-wrapper'>
      
      <% if @editable %>
          
          <div class='overlay'></div>
          <img id='cover_pic' class="img-responsive cover-pic" data-user-id='<%= @user.id %>' src="<%= @user.cover %>" alt="">
          <%= form_for @user, html: {id: 'new_cover_pic', class: 'dropzone new-cover-pic-form'} do |f| %>
            <%= f.file_field :image, class: 'hide' %>
          <% end %>
          
      <% else %>
        
        <img class="img-responsive" src="<%= @user.cover %>" alt="">
        
      <% end %>
      
    </div>
    <div class="col-xs-3">
      
      <% if @editable %>
      
        <div class='img-wrapper change-profile-pic'>
          <div class='overlay'></div>
          <img id='profile_pic' class="img-responsive profile-pic" data-user-id='<%= @user.id %>' src="<%= @user.avatar %>" alt="">
          <%= form_for @user, html: {id: 'new_profile_pic', class: 'dropzone new-profile-pic-form'} do |f| %>
            <%= f.file_field :image, class: 'hide' %>
          <% end %>
        </div>
      
      <% else %>
      
        <img class="img-responsive profile-pic" data-user-id='<%= @user.id %>' src="<%= @user.avatar %>" alt="">
        
      <% end %>
      
    </div>
    <div class="col-xs-9">
      <% if false %>
      <p><%= @user.about %></p>
      <% end %>
      
      <p><a data-type="textarea" data-cols='30' class='<%= @editable ? "inline-field" : "uneditable" %> about-section' data-url="/users/<%= @user.id %>" data-object="user" data-attribute="about" data-placeholder="First Name"><%= @user.about %></a></p>
    </div>
  </div>
</div>

<div class="container after-profile">
  <div class="row">
    <div class="col-sm-8">
      <div class='posts'>
        <% @posts.each do |post| %>
        
        <%= render partial: 'posts/post', locals: {post: post } %>
        
        <% end %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @posts %>
      </div>
    </div>
    <div class="col-sm-4 side-bar-margin">
      
      <div class='side-nav'>
        
        <% unless current_user.business? %>
        <ul class="side-nav">
          <li>
            <%=form_for Follow.new, html: { class: 'new_follow' }, remote: true do |f| %>
              <%= f.hidden_field :followable_id, value: @user.id, class: 'followable_id' %>
              <%= f.hidden_field :followable_type, value: 'User', class: 'followable_type' %>
              <%= f.submit current_user.follows?(@user) ? 'Unfollow' : 'Follow', class: 'follow-btn' %>
            <% end %>
          </li>
          <li><a href='#' data-toggle='modal' data-target='#newMessage'>Message</a></li>
        </ul>
        <% end %>
        
      </div>
      
      <div class="map-container">
        <div class="map-canvas" data-lat='<%= @coords[0] %>' data-lng='<%= @coords[1] %>'></div>
      </div>

      <div class="info-box">
        <h3>Following</h3>
        <div class="row">
          <% @user.followees(User).sample(6).each do |user| %>
          <div class="col-xs-4">
            <a href='<%= user_path(user) %>'><img class="img-responsive" src="<%= user.avatar %>" alt=""></a>
          </div>
          <% end %>
        </div>
      </div>

      <div class="info-box">
        <h3>People In My Building</h3>
        <div class="row">
        <% @user.building.users.sample(6).each_with_index do |user| %>
          <div class="col-xs-4">
            <a href='<%= user_path(user) %>'><img class="img-responsive" src="<%= user.avatar %>" alt=""></a>
          </div>
          <% end %>
        </div>
      </div>

      <div class="info-box">
        <h3>Interests</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>

        <h3>Professions</h3>
        <p><b>Counselor</b> at URJ Camp Coleman</p>
        <p><b>Receptionist</b> at Surfcorp</p>

        <h3 class='hide'>Contact</h3>
        <p class='hide'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>

        
      </div>

    </div>
  </div>
</div>

<%= render partial: 'messages/new' %>

<!-- HIDDEN SKELETON ELEMENTS: POST, COMMENT, NEW COMMENT FORM -->
<%= render partial: 'posts/post', locals: {post: Post.new } %>

<%= render partial: 'comment', locals: {comment: Comment.new} %>

<%= render partial: 'comment_field', locals: {comment: Comment.new, account_type: 'User'} %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
<script>
  GoogleMaps.init()
</script>