<div class="container">
  <div class="row">
    
    <div class="col-sm-8">
      
      <div class="col-xs-12 building-neighborhood-bar"> <a href="#" class="active" data-toggle='modal' data-target='#newEvent'>CREATE EVENT</a></div>
      <div class="col-xs-12 building-neighborhood-bar all">
          <a href="/events?filter=pending_invitations" class='loadScript' style="padding-right:20px;">Invited</a>
          
          <a href="/events?filter=attending" class="loadScript" style="border-right:2px solid white; border-left: 2px solid white; padding-left:20px; padding-right: 20px;">Attending</a>
          
          <a href="/events?filter=created" class="loadScript" style="border-right:2px solid white;  padding-left:15px; padding-right: 20px;">My Events</a>
          
          <a href="/events" class="loadScript" style="padding-left:20px;">All</a>
        </div>
      
      <div class='events'>
        <% @events.each do |event| %>
        
        <%= render partial: 'event', locals: {event: event} %>
        
        <% end %>
        
      </div>
        
    </div>
    
    <div class="col-sm-4">
      <%= render partial: 'layouts/nav' %>
      
      <div class="info-box2">
        <h3>EVENTS I’M ATTENDING</h3>
        
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'lior.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'syd.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'sadie.jpg' %>" alt="">
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="<%= asset_path 'drew.jpg' %>" alt="">
          </div>
        </div>
        
      </div>
    </div>
    
  </div>

</div>


<%= render partial: 'events/new' %>

