<div class="container profile">
  <div class="row">
    <div class='cover-img-wrapper'>
      
      <% if @editable %>
          
          <div class='overlay'></div>
          <img id='cover_pic' class="img-responsive cover-pic" data-user-id='<%= @event.id %>' src="<%= asset_path @event.cover %>" alt="">
          <%= form_for @event, html: {id: 'new_event_cover_pic', class: 'dropzone new-cover-pic-form'} do |f| %>
            <%= f.file_field :cover, class: 'hide' %>
          <% end %>
          
      <% else %>
        
        <img class="img-responsive" src="<%= @event.cover %>" alt="">
        
      <% end %>
      
    </div>
    
  </div>
</div>


<div class="container after-profile">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8 col-xs-12 side-bar-margin">
      
      <div class='side-nav'>
        
        <ul class="side-nav">
          <li>
            <%=form_for Invite.new, html: { class: 'new_follow' } do |f| %>
              <%= f.hidden_field :event_id, value: @event.id, class: 'followable_id' %>
              <%= f.hidden_field :attendee_id, value: current_user.id, class: 'followable_id' %>
              <%= f.hidden_field :accepted, value: !@event.confirmed_guests.include?(current_user), class: 'followable_id' %>
              <%= f.submit @event.confirmed_guests.include?(current_user) ? 'Decline' : 'Attend', class: 'follow-btn' %>
            <% end %>
          </li>
          <% if @editable %>
          <li><a href='#' data-toggle='modal' data-target='#inviteNeighbors'>Invite Neighbors</a></li>
          <% end %>
      </ul>
        
      </div>
      
      <div id="map-container">
        <div id="map-canvas" data-lat='<%= @coords[0] %>' data-lng='<%= @coords[1] %>'></div>
      </div>
      
    </div>
    <div class="col-sm-8 col-sm-pull-4 col-xs-12">
            
      <div class="info-box events-info">
        <h3>Hosting</h3>
        <p><%= link_to @event.creator.name, user_path(@creator) %></p>
        
        <h3>Location</h3>
        <% if @editable %>
        <p><a data-type="text" class='<%= @editable ? "inline-field" : "uneditable" %> about-section' data-url="/events/<%= @event.id %>" data-object="event" data-attribute="location[street]" data-placeholder="Street"><%= @event.location['street'].titleize %></a>, <a data-type="text" class='<%= @editable ? "inline-field" : "uneditable" %> about-section' data-url="/events/<%= @event.id %>" data-object="event" data-attribute="location[city]" data-placeholder="Street"><%= @event.location['city'].titleize %></a>, <a data-type="select" class='<%= @editable ? "inline-state" : "uneditable" %> about-section' data-url="/events/<%= @event.id %>" data-object="event" data-attribute="location[state]" data-value='<%= @event.location["state"] %>' data-placeholder="Street"></a></p>
        <% else %>
        <p><%= @event.location['street'].titleize + ', ' + @event.location['city'].titleize + ', ' + @event.location['state'].titleize %></p>
        <% end %>

        <h3>Date</h3>
        <% if @editable %>
        <p><a data-type="date" data-cols='30' class='<%= @editable ? "inline-date" : "uneditable" %>' data-url="/events/update_time/<%= @event.id %>" data-object="event" data-attribute="start_time" data-placeholder="Start Time"><%= @event.start_time.nil? ? nil :  @event.start_time.strftime('%b %d, %Y') %></a></p>
        <% else %>
          <p><%= @event.date %></p>
        <% end %>
        
        <h3>Time</h3>
        <% if @editable %>
        <p><a data-type="text" class='<%= @editable ? "inline-date" : "uneditable" %>' data-url="/events/update_time/<%= @event.id %>" data-object="event" data-attribute="hour" data-placeholder="Hour"><%= @event.start_time.nil? ? nil :  @event.start_time.strftime('%I') %></a>:<a data-type="text" class='<%= @editable ? "inline-date" : "uneditable" %>' data-url="/events/update_time/<%= @event.id %>" data-object="event" data-attribute="min" data-placeholder="Minute"><%= @event.start_time.nil? ? nil :  @event.start_time.min %></a> <a data-type="select" class='<%= @editable ? "inline-meridian" : "uneditable" %>' data-value='<%= @event.start_time.nil? ? nil :  @event.start_time.strftime('%P') %>'data-url="/events/update_time/<%= @event.id %>" data-object="event" data-attribute="meridian" data-placeholder="Meridian"></a></p>
        <% else %>
          <p><%= @event.time %></p>
        <% end %>
        
        <h3>About</h3>
        
        <% if @editable %>
          <p><a data-type="textarea" data-cols='30' class='<%= @editable ? "inline-field" : "uneditable" %> about-section' data-url="/events/<%= @event.id %>" data-object="event" data-attribute="about" data-placeholder="About"><%= @event.about %></a></p>
          
        <% else %>
          <p><%= @event.about %></p>
        <% end %>
        
      </div>
      
      <div class="info-box">
        <h3>Attending</h3>
        <div class="row">
          <% @event.confirmed_guests.sample(8).each do |user| %>
          <div class="col-xs-3">
            <a href='<%= user_path(user) %>'><img class="img-responsive" src="<%= asset_path user.avatar %>" alt=""></a>
          </div>
          <% end %>
        </div>
      </div>
      
      <div class="info-box">
        <h3>Invited</h3>
        <div class="row">
          <% @event.attendees.sample(8).each do |user| %>
          <div class="col-xs-3">
            <a href='<%= user_path(user) %>'><img class="img-responsive" src="<%= asset_path user.avatar %>" alt=""></a>
          </div>
          <% end %>
        </div>
      </div>
      

    </div>
  </div>
</div>


<div class="modal fade" id="inviteNeighbors" tabindex="-1" role="dialog" aria-labelledby="inviteNeighbors">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invite Neighbors</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/invites/create-bulk') do -%>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= select_tag 'attendees', recipients_options, multiple: true, class: 'form-control chosen-it' %>
        <%= submit_tag('Invite') %>
        <% end -%>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
<script>
  GoogleMaps.init()
</script>
