<body class='focus-page'>
  
  <div class="container">
    <img class="img-responsive logo" src="<%= asset_path 'logos/alt-logo-beta.jpg' %>" alt="Logo">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, class: 'custom', placeholder: 'Email' %>
      <%= f.password_field :password, autofocus: true, class: 'custom', placeholder: 'Password' %>
      <%= f.submit "Log in", class: 'custom login' %>
      <%= link_to 'Create Account', new_user_registration_path, class: 'create' %>
      
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot' %>
      <label>
        <%= f.check_box :remember_me %>
        <span></span>
        <p class="checkbox-text">Remember Me</p>
      </label>
    <% end %>
    <div class="row">
      <div class="col-sm-6 social-login"> <a href="<%= user_omniauth_authorize_path(:facebook) %>"><img class="img-responsive" src="<%= asset_path 'login-fb.jpg' %>" alt="Log In With FaceBook"></a>
      </div>
      <div class="col-sm-6 social-login"> <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>"><img class="img-responsive" src="<%= asset_path 'login-google.jpg' %>" alt="Log In With Google"></a>
      </div>
    </div>
    <!--NOTE: only call this on an error-->
    <div id="warning">
      <p>*Please Enter The Required Fields</p>
    </div>
  </div>
  
</body>
