<%= form_for Post.new, html: {class: 'hide'}, remote: true do |f| %>
  <%= f.text_area :body, class: 'text-area', placeholder: 'Status' %>
  <div class="control-bar">
    <i class="fa fa-camera"></i>
    <i class="fa fa-map-marker"></i>
    <%= f.submit 'POST', class: 'post' %>
  </div>
<% end %>


<%= form_for Post.new, html: {class: 'dropzone'} do |f| %>
  <%= f.text_area :body, class: 'text-area', placeholder: 'Status' %>
  <%= f.file_field :image, class: 'hide' %>
  <div class="control-bar">
    <i class="fa fa-camera"></i>
    <i class="fa fa-map-marker"></i>
    <button id='submit-image-post' class='post'>Post</button>
  </div>
<% end %>