<div class="chat-bar">
  <div class="container">
    <div class="row">
      
      <div class='single-chat-box hide'>
        <div class='top-bar'><span class='name'></span></div>
        <div class='conversation-wrapper'>
          <div class='message'>
            <div class='img-wrapper'>
              <img class='img-responsive' src=''>
            </div>
            <div class='text'></div>
            <div class='clear'></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-offset-8 chat-box">

        <div class='top-bar'>
          <span class="back-button inactive"><i class="fa fa-chevron-circle-left"></i></span>
          <div class='header'>Instant Chat <span class='newMessages'>(<span id='newMsgs'></span>)</span></div>
          <div class='recipient_name'></div>
          <span class="close-button"><i class="fa fa-times"></i></span>
        </div>
        <div class='conversations'>
          <div class="conversation-new conversation hidden">
            <img class="img-responsive" src="">
            <p class='name'></p>
            <div class='new-conversation'>
              <input id="new-conversation-text" name="text" placeholder="Send a Message..." autocomplete='off'>
              <button class="submit-new-conversation-button">SEND</button>
            </div>
          </div>
          <div class="conversation-messages hidden">
            <div class="conversation-messages-list">
            </div>
            <div class="new-message">
              <input id="new-message-text" name="text" placeholder="Send a Message..." autocomplete='off'>
              <button class="submit-message-button">SEND</button>
            </div>
          </div>
          <div class="conversation-list">
            <% current_user.mailbox.conversations.each do |convo| %>
              <div class="conversation conversation-single" id="<%= convo.id %>">
                <a href="#">
                  <img class="img-responsive" src="<%= asset_path((convo.participants - [current_user])[0].avatar) %>">
                  <p class='name'><%= (convo.participants - [current_user])[0].name %> <span class='newMessages'>(<span class='newConvoMsgs'></span>)</span></p>
                </a>
              </div>
            <% end %>
          </div>
          <% if false %>
          <div class="building-member-list hidden">
            <% current_user.building.users.each do |user| %>
              <%  if user != current_user %>
                <div class="conversation building-member" id="<%= user.id %>">
                  <a href="#">
                    <img class="img-responsive" src="<%= asset_path user.avatar %>">
                    <p class='name'><%= user.name %></p>
                  </a>
                </div>
              <% end %>
            <% end %>
          </div>
          <% end %>
      </div>
      <button class="hide new-conversation-button">NEW CONVERSATION</button>
      <%= subscribe_to "/messages/new/#{current_user.id}" %>
      <%= subscribe_to "/conversations/new/#{current_user.id}" %>
    </div>
  </div>
  <span class="user-server-id">
    <%=current_user.id%>
  </span>
</div>
