<header class="inner">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href='/'><img class="img-responsive logo" src="<%= asset_path 'header-logo.jpg' %>" alt=""></a>
      </div>
      <div class="col-sm-6 search-column">
        <%= autocomplete_field_tag :search, params[:search], autocomplete_user_first_name_users_path, {class: "search-query search-field empty", placeholder: "&#xF002; ".html_safe, type: "search"} %> 
        <div class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="width: 555px; top: 40px; left: 15px; display:none;">
          <h5>USERS</h5>
          <ul class='usersList' style='padding: 0;'>
          </ul>
          <h5>BUSINESSES</h5>
          <ul class='bizList' style='padding: 0;'>
          </ul>
          <ul class='yelpBizList' style='padding: 0;'>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 nav-column">
        
        <%= link_to('<i class="fa fa-power-off"></i>'.html_safe, destroy_user_session_path, class: 'settings', :method => :delete) %>
        
        <% if current_user.business? %>
          <a href='/businesses/<%= current_user.business.id %>'><img class="profile-pic" src="<%= current_user.business.avatar %>" alt=""></a>
        <% else %>
          <a href='/users/<%= current_user.id %>'><img class="profile-pic" src="<%= current_user.avatar %>" alt=""></a>
        <% end %>
      </div>
    </div>
  </div>  
</header>
