<ul class="side-nav">
  <li><%= link_to 'Feed', root_path %></li>
  <% unless current_user.business? %>
    <li><%= link_to 'Events', events_path %></li>
    <li><%= link_to 'Messages', conversations_path %></li>
    <li><%= link_to 'Small Business Listings', businesses_path %></li>
    <li><%= link_to 'My Incentives', discount_codes_path %></li>
    <% else %>
    <li><%= link_to 'My Incentives', incentives_path %></li>
  <% end %>
</ul>
