<!DOCTYPE html>
<html>
<head>
  <title>Stoop</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
  
  <div class="inner-page">
    
    <header class="inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <a href='/'><img class="img-responsive" src="<%= asset_path 'header-logo.jpg' %>" alt=""></a>
          </div>
          <div class="col-sm-6 search-column">
            <input type="text" class="search-field empty" id="iconified" placeholder="&#xF002; " style="font-family:Arial, FontAwesome; font-size:20px;">
          </div>
          <div class="col-sm-4 nav-column">
            <img class="settings" src="<%= asset_path 'settings.png' %>" alt="Settings">
            <img class="profile-pic" src="<%= current_user.avatar %>" alt="">
          </div>
        </div>
      </div>
      
    </header>
    
    <% if current_page?(authenticated_root_path) %>
    
    <% end %>
    
    <%= yield %>
    
    
    <footer>
      <img src="<%= asset_path 'footer-logo.jpg' %>">
        <br>
      <p>&copy; 2005-2015 Pandora Media, Inc. All Rights Reserved</p>
      <p>Pandora and the Music Genome project are registered trademarks of Pandora Media, Inc.</p>
    </footer>

    <div class="chat-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8 chat-box">
            <div class='top-bar'>
              <i class="fa fa-circle-o"></i> Instant Chat
            </div>
            <div class='conversations'>
              <% current_user.mailbox.conversations.each do |convo| %>
              <div class='conversation'>
                <img class='img-responsive' src='<%= (convo.participants - [current_user])[0].avatar %>'>
                <p class='name'><%= (convo.participants - [current_user])[0].name %></p>
                <div class='clear'></div>                  
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
</body>
</html>
